<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastroo</li>
</ol>
<div class="container">
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-grou">
                    <label>ID:</label>
                    <input disabled="true" [ngModel]="cliente.id" name="id" type="text" class="form-control"/>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-grou">
                    <label>Data Cadastro:</label>
                    <input type="text" disabled="true" name="dataCadastro" [ngModel]="cliente.dataCadastro" class="form-control"/>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-grou">
                    <label>Nome: *</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-grou">
                    <label>CPF: *</label>
                    <input type="text" [(ngModel)]="cliente.cpf" name="cpf" class="form-control"/>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-mb-2">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i>Salvar
                </button>
            </div>
        </div>
    </form>
</div>